html,body {
  background-color: #1A1A1D;
  margin: 0;
  height: 100%;
} 

.outerContainer{
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: flex;
  height: 100vh;
}

.innerContainer{
  background-color: #FFEDA8;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 5px;
  box-shadow:8px 8px none;
} 

.heading{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:xx-large;
}

.inputField{
  padding: 4px;
  border-radius: 5px;
  width:200px;
}

.button{
  padding: 8px;
  background-color:black;
  color: #FFEDA8;
  border-radius: 5px;
  width: 60px;
}