.messageBox {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
    background: #2979FF;

}
.messageBox1{
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
    background: #F3F3;
    color: #353535;
   
}

.messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
    color:black;
    
}

.messageText img {
    vertical-align: middle;
}

.messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px; 
    justify-content: flex-end; 
}
.messageContainer1 {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px; 
    justify-content: flex-start; 
}

.sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
    padding-left: 10px;
    
}
.sentText1 {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
    padding-right: 10px;
    
  }
  
  
 
  

  
  